@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}



@layer base {
  :root {
    --background: 240 10% 99%;
    --foreground: 240 10% 3.9%;
    --card: 240 10% 99%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 10% 99%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 221 83% 53%; /* blue-600 */
    --primary-foreground: 210 40% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 262 83% 58%; /* violet-600 */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 221 83% 53%; /* blue-600 */
    --chart-1: 221 83% 53%; /* blue-600 */
    --chart-2: 262 83% 58%; /* violet-600 */
    --chart-3: 240 83% 58%; /* indigo-600 */
    --chart-4: 210 83% 58%; /* sky-600 */
    --chart-5: 280 83% 58%; /* purple-600 */
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 210 40% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%; /* blue-500 */
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 263 70% 50%; /* violet-500 */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 217 91% 60%; /* blue-500 */
    --chart-1: 217 91% 60%; /* blue-500 */
    --chart-2: 263 70% 50%; /* violet-500 */
    --chart-3: 240 70% 50%; /* indigo-500 */
    --chart-4: 210 70% 50%; /* sky-500 */
    --chart-5: 280 70% 50%; /* purple-500 */
  }
}



@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}
